/* classes */

body {
    background-color: #141414;
    padding: 0;
    margin: 0;
}

.sketchable {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    position: fixed;
}

.container {
    position: absolute;
    rotate: 1.5deg;
}

/* text styles */

@font-face {
    font-family: antibad-font;
    src: url(https://cdn.jsdelivr.net/gh/antibad/site/fonts/antibad-font-medium.otf);
}

h1,
p,
a {
    text-align: center;
    font-family: "antibad-font", Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #e7e3e1;
    margin: 0;
    letter-spacing: 0.03rem;
    text-decoration: none;
}

::selection {
    color: orangered;
}